# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/

# Virtual environment
pyvenv.cfg
Include/
Lib/
Scripts/
tutorial-env/

# Django
db.sqlite3
staticfiles/

# IDE
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db
